@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);

$white-bg: #eee;

#main-qr {
  font-family: "Ropa Sans", sans-serif;
  color: #333;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
}

.hidden { 
    display:none; 
}

video {
  display: none;
}

#githubLink {
  position: absolute;
  right: 0;
  top: 12px;
  color: #2d99ff;
}

h1 {
  margin: 10px 0;
  font-size: 40px;
}

#loading-message {
  text-align: center;
  padding: 40px;
  background-color: $white-bg
}

#canvas {
  width: 100%;
}

#output {
  margin-top: 20px;
  background: $white-bg;
  padding: 10px;
  padding-bottom: 0;
}

#output div {
  padding-bottom: 10px;
  word-wrap: break-word;
}

#noQRFound {
  text-align: center;
}